[user]
	name = msbxii
	email = msbxii@case.edu

[alias]
	st = status
	ci = commit
	au = add -u
	co = checkout
	ca = commit -am
	cd = commit -am 'updated '!date

[core]
	editor =vim

[color]
	diff=auto
	status=auto
